<footer>
    <div id="top-box" class="top-box">
      <div class="footer-section">
        <img class="logo-with-slogan" alt="" src="../../../assets/public/logo-with-slogan-2@2x.png" />
      </div>
  
      <div class="footer-section">
        <h4>Company</h4>
        <ul>
          <li>About</li>
          <li>Jobs</li>
          <li>Newsroom</li>
          <li>Advertising</li>
          <li>Contact us</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Explore</h4>
        <ul>
          <li>Australia</li>
          <li>New Zealand</li>
          <li>United States America (USA)</li>
          <li>Greece</li>
          <li>Maldives</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Terms and Polices</h4>
        <ul>
          <li>Privacy Policy</li>
          <li>Terms of use</li>
          <li>Accessibility</li>
          <li>Reward system policy</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Help</h4>
        <ul>
          <li>Support</li>
          <li>Cancel your bookings</li>
          <li>Accessibility</li>
          <li>Use Coupon</li>
          <li>Refund Policies</li>
          <li>International Travel Documents</li>
  
        </ul>
      </div>
  
    </div>
    <div class="copyright">
      <p class="copyright-text">&copy; BookedUp 2023 | Team 19 FTN</p>
    </div>
  </footer>
  