<!DOCTYPE html>
<html>
<body>
    <img class="x-icon" alt="" src="../../../assets/public/out.png" (click)="closeDialog()" style="cursor: pointer;"/>
    <h2 mat-dialog-title class="title-dialog">Certificate Path</h2>
    
    <div mat-dialog-content>
      <!-- Implementirajte logiku za prikaz hijerarhijske strukture sertifikata ovde -->
      <!-- Primer: -->
      <ul>
        <li>{{ data.name }}</li>
        <li *ngFor="let child of data.children">
          {{ child.name }}
          <ul>
            <li *ngFor="let grandchild of child.children">{{ grandchild.name }}</li>
          </ul>
        </li>
      </ul>
    </div>
</body>
</html>
