<!DOCTYPE html>
<html>
<body>
    <img class="x-icon" alt="" src="../../../assets/public/out.png" (click)="closeDialog()" style="cursor: pointer;"/>
    <h2 mat-dialog-title class="title-dialog">Certificate Path</h2>
    
    <div mat-dialog-content>
      <div *ngFor="let alias of aliasList; let i = index" [style.marginLeft.px]="i * 20">
        <div class="frame">
          <img
          *ngIf="i == 0"
          class="icon"
          alt=""
          src="../../../assets/public/certificate (4).png"
          />
          <img
          *ngIf="i > 0"
          class="icon"
          alt=""
          src="../../../assets/public/certificate (1).png"
          />
          <div class="normal-text">{{ alias }}</div>
      </div>
    </div>
    </div>
</body>
</html>
