<header>
   <div class="header-container">
      <img class="logo" alt="" src="../../../assets/public/cream-black-minimalist-illustrated-luxury-real-estate-circle-logo-7-3@2x.png" routerLink="/" style="cursor: pointer;"/>
   
      <div class="home-nav">
      </div>

      <div class="right-icons">
         <div class="notification-icon"></div>
         <img
            class="icon"
            alt=""
            [src]="displayedImageUrl"
            id="profile-picture-admin"
            (click)="onProfilePictureClick()"
         />
      </div>
   </div>

    <div id="adminDropdownContainer" class="popup-overlay" *ngIf="isPopupVisible" (click)="onPopupClick($event)">
      <div class="admin-dropdown">
        <div class="nav-box" (click)="navigateTo('/manage-profile')">
           <img class="nav-icon" alt="" src="../../../assets/public/usersquare-2.svg" />
           <div class="nav-text">Manage account</div>
        </div>

        <div class="nav-box" (click)="navigateTo('/accommodation-requests')">
           <img class="nav-icon" alt="" src="../../../assets/public/frame.svg" />
           <div class="nav-text">Accommodations</div>
        </div>

        <div class="nav-box" (click)="navigateTo('/user-reports')">
           <img class="nav-icon" alt="" src="../../../assets/public/frame1.svg" />
           <div class="nav-text">Users</div>
        </div>

        <div class="nav-box" (click)="navigateTo('/review-reports')">
           <img class="nav-icon" alt="" src="../../../assets/public/frame2.svg" />
           <div class="nav-text">Comments</div>
        </div>

        <div class="nav-box" *ngIf="role != null" (click)="logOut()">
           <img class="nav-icon" alt="" src="../../../assets/public/logout-1.svg" />
           <div class="nav-text">Sign out</div>
        </div>
     </div>

    </div>
  </header>
