<header>
    <div class="header-container">
      <img class="logo" alt="" src="../../../assets/public/cream-black-minimalist-illustrated-luxury-real-estate-circle-logo-7-3@2x.png" routerLink="/" style="cursor: pointer;"/>
   
      <div class="home-nav">
      </div>
  
      <div class="action-buttons">
        <div class="register-button" id="register" [routerLink]="['register']">Register</div>
        <div class="sign-in-button" id="login" [routerLink]="['login']">Sign In</div>
      </div>
    </div>
  </header>
