<html>
<body>
    <div class="main-div">

        <div class="main-admin-child"></div>
        <app-nav-bar></app-nav-bar>

        <div id="sort-bar" class="sort-bar">
            <div class="requests" [ngClass]="{ 'clicked': selectedClass === 'requests' }" (click)="changeStyle('requests')">
              Requests
            </div>
            <div class="certifications" [ngClass]="{ 'clicked': selectedClass === 'certifications' }" (click)="changeStyle('certifications')">
              Certificates
            </div>
        </div>

        <div class="main-content" id="main-content">
          <b class="no-text" *ngIf="(requests | async)?.length == 0">NO RESULTS</b>
          <div *ngFor="let request of requests | async" class="request-frame">
              <img
              class="icon-image"
              alt=""
              src="../../../assets/public/certification.svg"
              />
              <div class="left-data">
                <div class="top-data-box">
                  <div class="horizontal-frame">
                    <div class="title"><b>No. {{ request.number }} {{ request.commonName }}</b> </div>
                    
                  </div>

                  
                </div>

                <div class="bottom-data-box">
                  <div class="horizontal-frame">
                    <div ><b class="light-text">Full Name:</b> {{ request.givenName }} {{request.surname}} </div>
                  </div>
                  <div><b class="light-text">Organization: </b>{{ request.organization }}</div>
                  <div><b class="light-text">Email: </b>{{ request.email }}</div>
                  <div><b class="light-text">UID: </b>{{ request.uid }}</div>
                </div>
              </div>

              <div class="right-buttons">
                  <div class="accept-button" id="accept-button" (click)="approveRequest(request?.number ?? 0)">
                  <b class="button-text">Accept</b>
                </div>
                <div class="reject-button" id="reject-button" (click)="rejectRequest(request?.number ?? 0)">
                  <b class="button-text">Reject</b>
                </div>
              </div>
            </div>
          </div>


      <app-shorter-footer></app-shorter-footer>

    </div>
  </body>
</html>
