<!DOCTYPE html>
<html>
  <body>
    <div class="forgot-password">

      <div id="main-logo">
        <img
          class="logo-with-slogan-5"
          alt=""
          src="../../assets/public/logo-with-slogan-4@2x.png"
        />
      </div>

      <div id="title-description">
        <div class="forgot-your-password">Forgot your password?</div>
        <div class="well-send-you">
          We will send you a link to reset it. Enter your email address used for BookedUp
        </div>
      </div>

      <div id="inputs">
        <b class="your-email-address">Your email address</b>
        <div class="email-address14">
          <input type="email" id="emailInput" class="email-address15" placeholder="Enter email address..." />
        </div>
      </div>

      <div id="send-button">
        <div class="send-reset-link-wrapper" id="resetLink">
          <b class="send-reset-link">Send Reset Link</b>
        </div>
      </div>

      <div id="terms">
        <div class="by-creating-an-container4">
          <span class="by-creating-an-container5">
            <span>By creating an account, you agree with our </span>
            <span class="terms-and-conditions2">Terms and Conditions </span>
            <span>and </span>
            <span class="terms-and-conditions2">Privacy Statement.</span>
          </span>
        </div>
      </div>

    </div>
  </body>
</html>
