<!DOCTYPE html>
<html>
<body>
<div class="register-guest">
    <div class="image-container">
        <img
            class="logo-picture"
            alt=""
            src="../../assets/public/cream-black-minimalist-illustrated-luxury-real-estate-circle-logo-7-3@2x.png"
        />
    </div>

    <div class="data-container">
        <p class="title-text">Register</p>

        <form [formGroup]="registrationForm" class="form-container">

            <b class="normal-text" >Email address</b>
            <div class="input-frame">
                <input type="email" formControlName="email"  placeholder="Enter email address...">
            </div>

            <div class="in-line-box">
                <div class="column-box">
                    <b class="normal-text">Password</b>
                    <div class="input-frame-names">
                        <input type="text" id="password" formControlName="password"  placeholder="Enter password...">
                    </div>
                </div>

                <div class="column-box">
                    <b class="normal-text">Repeat Password</b>
                    <div class="input-frame-names">
                        <input type="text" id="repeatedPassword" formControlName="passwordAgain" placeholder="Enter password again...">
                    </div>
                </div>
            </div>

            <div class="in-line-box">
                <div class="column-box">
                    <b class="normal-text" >First Name</b>
                    <div class="input-frame-names">
                        <input type="text" formControlName="firstName"  placeholder="Enter first name...">
                    </div>
                </div>

                <div class="column-box">
                    <b class="normal-text" >Last Name</b>
                    <div class="input-frame-names">
                        <input type="text" formControlName="lastName"  placeholder="Enter last name...">
                    </div>
                </div>
            </div>

            <b class="normal-text">Address</b>
            <div class="in-line-box">
                <div class="input-frame-address">
                    <input type="text" formControlName="streetNumber"  placeholder="Enter street and number here..">
                </div>
                <div class="input-frame-address">
                    <input type="text" formControlName="city"  placeholder="Enter city here..">
                </div>
                <div class="input-frame-address">
                    <input type="text" formControlName="postalCode"  placeholder="Enter postal code here..">
                </div>
                <div class="input-frame-address">
                    <input type="text" formControlName="country"  placeholder="Enter country here..">
                </div>
            </div>

            <b class="normal-text" >Mobile phone</b>
            <div class="input-frame" style="margin-bottom: 0% !important;">
                <input type="number" formControlName="phone"  placeholder="Enter mobile phone...">
            </div>

            <b class="normal-text">Role</b>
            <label class="toggle">
                <input type="checkbox" (click)="toggleRole()">
                <span class="slider"></span>
                <span class="labels" data-on="HOST" data-off="GUEST"></span>
            </label>
        </form>

        <div class="button-container" (click)="register()">
            <b>Continue with next step</b>
        </div>

        <div class="text-container" id="alreadyHaveAnRegistration">
            <span>Already have an account? </span>
            <span class="special-text" routerLink="/login">Sign in</span>
        </div>
    </div>
</div>
</body>
</html>
