<html>
<body>
    <div class="main-div">

        <div class="main-admin-child"></div>
        <app-nav-bar></app-nav-bar>

        <div id="sort-bar" class="sort-bar">
          <div class="root" [ngClass]="{ 'clicked': selectedClass === 'root' }" (click)="refreshView()">
            Roots
          </div>
          <div class="tree" [ngClass]="{ 'clicked': selectedClass === 'tree' }">
            Tree View
          </div>
        </div>

        <div class="main-content" id="main-content">
          <b class="no-text" *ngIf="(certifications | async)?.length == 0">NO RESULTS</b>
          <div *ngFor="let certificate of certifications | async" class="request-frame">
              <img
              class="icon-image"
              alt=""
              src="../../../assets/public/certificate (4).png"
              (click)="openDescendantsOfRoot(certificate?.id ?? 0)"
              />
              <div class="left-data">
                <div class="top-data-box">
                  <div class="horizontal-frame">
                    <div class="title"><b>No. {{ certificate.id }} {{ certificate.commonName }}</b> </div>

                  </div>


                </div>

                <div class="bottom-data-box">
                  <div class="horizontal-frame"><b class="light-text" style="margin-right: 5px;">Validation Period: </b> {{ certificate.validFrom | date: 'd.MM.yyyy.' }} - {{ certificate.validTo | date: 'd.MM.yyyy.'}} </div>

                  <div><b class="light-text">Alias: </b>{{ certificate.alias }}</div>
                  <div><b class="light-text">Issuer Alias: </b>{{ certificate.issuerAlias }}</div>
                  <div><b class="light-text">Template: </b>{{ certificate.template }}</div>
                </div>
              </div>

              <div class="right-buttons">
                <div class="accept-button" id="accept-button" (click)="signCertificate(certificate.alias)">
                  <b class="button-text">Add Certificate</b>
                </div>
                <div class="reject-button" id="reject-button" (click)="revoke(certificate?.id ?? 0)">
                  <b class="button-text">Revoke</b>
                </div>
                <div class="view-details-button" id="view-details-button" (click)="openDetails(certificate?.id ?? 0)">
                    <b class="button-text">View Path</b>
                </div>
              </div>
          </div>
        </div>

        <button class="add-new-container" routerLink="/create-accommodation" (click)="signRootCertificate()">
          <b>Add root certificate</b>
        </button>

      <app-shorter-footer></app-shorter-footer>

    </div>
  </body>
</html>
